{% extends 'polls/temp1.html' %}

{% block content %}

		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-user-md"></i> Profile</h3>

				</div>
			</div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-2 col-sm-2">
                              <h4>{{ user.user.username }}</h4>
                              <div class="follow-ava">
                                  {% load static %}
                                  <img src="{% static "polls/img/mypic.jpg" %}" alt="">
                              </div>
                              <h6>{{ user.type }}</h6>
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info">
                                <p>{{ user.user.first_name }} {{ user.user.last_name}}</p>
                                <p>@{{ user.user.username }}</p>
								<p>{{ user.user.email }}</p>
                                <p> Date joined:</p>
                                <h6>
                                    <span><i class="icon_clock_alt"></i>{{ user.user.date_joined.time}}</span>
                                    <span><i class="icon_calendar"></i>{{ user.user.date_joined.date }}</span>
{#                                    <span><i class="icon_pin_alt"></i>{{ user.user.date_joined.timestamp }}</span>#}
                                </h6>
                            </div>
                              <div class="col-lg-4 col-sm-4 follow-info">
                                  <p>Sex: {{ user.sex}}</p>
                                <p>National ID: {{ user.national_id }}</p>
                                <p>Apartment Number:{{user.apartment_id}}</p>
								<p>Bank account: {{ user.bank_account}}</p>
{#                                <p> Date joined:</p>#}
{#                                <h6>#}
{#                                    <span><i class="icon_clock_alt"></i>{{ user.user.date_joined.time}}</span>#}
{#                                    <span><i class="icon_calendar"></i>{{ user.user.date_joined.date }}</span>#}
{#                                    <span><i class="icon_pin_alt"></i>{{ user.user.date_joined.timestamp }}</span>#}
{#                                </h6>#}
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <!-- page start-->
              <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <header class="panel-heading tab-bg-info">
                              <ul class="nav nav-tabs">
                                  <li class="active">
                                      <a data-toggle="tab" href="#dashbord">
                                          <i class="icon-home"></i>
                                          Dashbord
                                      </a>
                                  </li>
                                  <li>
                                      <a data-toggle="tab" href="#messages">
                                          <i class="icon-user"></i>
                                          Messages
                                      </a>
                                  </li>
                                  <li class="">
                                      <a data-toggle="tab" href="#warnings">
                                          <i class="icon-envelope"></i>
                                          Warnings
                                      </a>
                                  </li>
                              <li class="">
                                      <a data-toggle="tab" href="#edit-profile">
                                          <i class="icon-envelope"></i>
                                          Edit Profile
                                      </a>
                                  </li>
                                  {%  if user.type == 'admin' %}
                                        <li class="">
                                      <a data-toggle="tab" href="#admin-section">
                                          <i class="icon-envelope"></i>
                                          Admin Section
                                      </a>
                                  </li>
                                  {% endif %}
                              </ul>
                          </header>
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div  id = "dashbord" class="tab-pane active">
                                  {% if user.type == "admin" %}
                                   <!--collapse start-->
                      <div class="panel-group m-bot20" id="accordion">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                          Add To Dashboard
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
      <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
              {{ addDashbordForm.title }}
            </div>
          </div>
          <div class="form-group">
                <label class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
              {{ addDashbordForm.text }}
                </div>
          </div>
            <div class="form-group">
            <input name="addToDashbord" class="btn btn-info btn-lg btn-block" type="submit" value="Write" />
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>#}
{#            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>#}
            </div>

      </form>
        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>
                          </div>

                      </div>
                      <!--collapse end-->
                                  {% endif %}

                                      <div class="profile-activity">
                                          <div class="act-time">
                                              <div class="activity-body act-in">
                                                  <span class="arrow"></span>
                                                  {% for dashbord in dashbords %}
                                                  <div class="panel panel-primary">
                                                      <div class="panel-heading">
                                                          {% if user.type == 'admin'%}
                                                        <a name="removeFromDashbord" href="{% url 'removeFromDashbord' dashbord.id %}">remove</a>
                                                  {% endif %}
                                                          <strong>{{ dashbord.title }}</strong> {{ dashbord.date_time }}:


                                                          </br> </div>

                                                      <div clas="panel-content">{{ dashbord.text }}</div>
                                                </div>
                                                  {% endfor %}
                                              </div>
                                          </div>

                                      </div>

                                  </div>
                                  <!-- profile -->
                                  <div id="messages" class="tab-pane">
                                    <section class="panel">
                                   <!--collapse start-->
                      <div class="panel-group m-bot20" id="accordion">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                          Send Message
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
      <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
              <label class="col-sm-2 control-label">To</label>
              <div class="col-sm-10">
              {{ sendMessageForm.recievers }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
              {{ sendMessageForm.title }}
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
              {{ sendMessageForm.type }}
                </div>
          </div>
          <div class="form-group">
                <label class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
              {{ sendMessageForm.text }}
                </div>
          </div>
            <div class="form-group">
            <input name="sendingMessage" class="btn btn-info btn-lg btn-block" type="submit" value="Send" />
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>#}
{#            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>#}
            </div>
      </form>
        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>
                          </div>

                      </div>
                      <!--collapse end-->
                                      {% for message in messages%}
                                                  <div class="panel panel-info">
                                                      <div class="panel-heading"> <strong>{{ message.title }}</strong>: {{ message.type }}: from {{ message.sender.user.first_name  }} {{ message.sender.user.last_name }} </br> </div>
                                                      <div clas="panel-content">{{ message.text }}</div>
                                                </div>
                                                  {% endfor %}
                                    </section>
                                      <section>
                                          <div class="row">
                                          </div>
                                      </section>
                                  </div>
                                  <!-- edit-profile -->
                                  <div id="warnings" class="tab-pane">
                                    <section class="panel">
                                                  <div class="panel panel-warning">
                                                  <table class="table table-striped table-advance table-hover">
                           <tbody>
                              <tr>
                                 <th><i class="icon_profile"></i> Name</th>
                                 <th><i class="icon_calendar"></i> Date</th>
                                 <th><i class="icon_wallet"></i> Price</th>
                              </tr>
                {% for warning in allWarnings%}
                    {% if warning.charge %}
                        <tr {% if warning.charge.is_payed == True%} class="success" {% endif %}
                                      {% if warning.charge.is_payed == False and date > warning.charge.due_date %} class="danger" {% endif %}
                        {% if warning.charge.is_payed == Fasle and date <= warning.charge.due_date %} class="warning"{% endif %}
                        >
                        <td>{{ warning.charge.title }}</td>
                                 <td>{{ warning.charge.due_date }}</td>
                                 <td>{{ warning.charge.price }}</td>
                        </tr>
                    {% endif %}
                    {% if warning.bill %}
                        <tr {% if warning.bill.is_payed == True%} class="success" {% endif %}
                                      {% if warning.bill.is_payed == False and date > warning.bill.due_date %} class="danger" {% endif %}
                        {% if warning.bill.is_payed == Fasle and date <= warning.bill.due_date %} class="warning"{% endif %}
                        >
                        <td>{{ warning.bill.title }}</td>
                                 <td>{{ warning.bill.due_date }}</td>
                                 <td>{{ warning.bill.price }}</td>
                        </tr>
                    {% endif %}
                                                  {% endfor %}
                           </tbody>
                                                  </table>
                                                  </div>
                                      </section>
                                  </div>



                              <div id="edit-profile" class="tab-pane">
                                    <section class="panel">
                                        <div class="panel-body">
                                          <form class="form-horizontal"  method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-10">
              {{ editProfileForm.firstName }}
            </div>
          </div>
                                              <div class="form-group">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
              {{ editProfileForm.lastName }}
                </div>
                                              </div>
                                              <div class="form-group">
              <label class="col-sm-2 control-label">Email Address</label>
                <div class="col-sm-10">
              {{ editProfileForm.emailAddress }}
                </div>
                                              </div>
                                              <div class="form-group">
              <label class="col-sm-2 control-label">Apartment ID</label>
                <div class="col-sm-10">
              {{ editProfileForm.apartmentID }}
                </div>
                                              </div>
                                              <div class="form-group">
              <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
              {{ editProfileForm.type }}
                </div>
                                              </div>
                                              <div class="form-group">
              <label class="col-sm-2 control-label">Bank</label>
                <div class="col-sm-10">
              {{ editProfileForm.bank }}
                </div>
                                              </div>
                                              <div class="form-group">
              <label class="col-sm-2 control-label">Bank Account</label>
                <div class="col-sm-10">
              {{ editProfileForm.bankAccount }}
                </div>
                                              </div>
            <div class="form-group">
            <input name="editingProfile" class="btn btn-info btn-lg btn-block" type="submit" value="Edit" />
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>#}
{#            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>#}
            </div>

      </form>
                                        </div>
                                      </section>
                                  </div>

                              {% if user.type == 'admin' %}



                                <div id="admin-section" class="tab-pane">




                                    <section class="panel">
                                          <div class="panel-group m-bot20" id="accordion3">

{#                                              hellllll#}
                                              <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#complaints">
                                          List of Complaints from Owners
                                      </a>
                                  </h4>
                              </div>
                              <div id="complaints" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
        {% for complaint in allComplaints %}
            <div class="panel panel-primary">
                                                      <div class="panel-heading">
                                                          <strong>{{ complaint.title }}: </strong> from {{ complaint.owner }} on {{ complaint.date }}


                                                          </br> </div>

                                                      <div clas="panel-content">{{ complaint.text }}</div>
                                                </div>
        {% endfor %}
        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>
                          </div>


{#                                              hellllll#}


                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#add-building">
                                          Add Building
                                      </a>
                                  </h4>
                              </div>
                              <div id="add-building" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
      <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Postal Code</label>
              <div class="col-sm-10">
              {{ addBuilding.postalCode }}
            </div>
          </div>
          <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
              {{ addBuilding.city }}
                </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Street</label>
                <div class="col-sm-10">
              {{ addBuilding.street }}
                </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Number</label>
                <div class="col-sm-10">
              {{ addBuilding.number }}
                </div>
          </div>
            <div class="form-group">
            <input name="addingBuilding" class="btn btn-info btn-lg btn-block" type="submit" value="Add" />
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>#}
{#            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>#}
            </div>
      </form>
        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>
                          </div>


                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#add-apartment">
                                          Add Apartment
                                      </a>
                                  </h4>
                              </div>
                              <div id="add-apartment" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
      <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Postal Code</label>
              <div class="col-sm-10">
              {{ addApartment.buildingPostalCode}}
            </div>
          </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Floor</label>
                <div class="col-sm-10">
              {{ addApartment.floor}}
                </div>
              </div>
            <div class="form-group">
            <input name="addingApartment" class="btn btn-info btn-lg btn-block" type="submit" value="Add" />
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>#}
{#            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>#}
            </div>

      </form>
        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>
                          </div>


{#                                              add neighbor#}

                                                <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#add-neighbor">
                                          Add Neighbor
                                      </a>
                                  </h4>
                              </div>
                              <div id="add-neighbor" class="panel-collapse collapse">
{#                                  <div class="panel-body">#}
{##}
{#                                      <div class="container">#}
    <div class="panel-body">
      <form class="form-horizontal " method='post'>
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">First Name:</label>
                                      <div class="col-sm-10">
{#                                          <input type="text" class="form-control">#}
                                          {{ addNeighbor.firstName }}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Last Name:</label>
                                      <div class="col-sm-10">
{#                                          <input type="text" class="form-control">#}
                                          {{ addNeighbor.lastName }}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Email:</label>
                                      <div class="col-sm-10">
{#                                          <input type="text" class="form-control">#}
                                          {{ addNeighbor.emailAddress }}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Username:</label>
                                      <div class="col-sm-10">
{#                                          <input type="text" class="form-control">#}
                                          {{ addNeighbor.username }}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Password</label>
                                      <div class="col-sm-10">
                                          {{ addNeighbor.password }}
{#                                          <input type="text" class="form-control">#}
{#                                          <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">National ID</label>
                                      <div class="col-sm-10">
{#                                          <input type="text" class="form-control round-input">#}
                                            {{ addNeighbor.nationalID }}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">apartment ID</label>
                                      <div class="col-sm-10">
                                          {{ addNeighbor.apartmentID }}
{#                                          <input class="form-control" id="focusedInput" type="text" value="This is focused...">#}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">sex</label>
                                      <div class="col-sm-10">
                                          {{ addNeighbor.sex }}
{#                                          <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>#}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">bank</label>
                                      <div class="col-sm-10">
                                          {{ addNeighbor.bank}}
{#                                          <input type="text"  class="form-control" placeholder="placeholder">#}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Bank Account</label>
                                      <div class="col-sm-10">
                                          {{ addNeighbor.bankAccount }}
{#                                          <input type="password"  class="form-control" placeholder="">#}
                                      </div>
                                  </div>
            <input name="addingNeighbor" class="btn btn-info btn-lg btn-block" type="submit" value="Add" />
            </div>
          </div>
      </form>



        </div>
{#    </div>#}
{##}
{#                                  </div>#}
                              </div>

                          </div>









{#                                              end: add neighbor#}
                                          </div>

                                      </section>
                                  </div>
                              {% endif %}
                              </div>
                          </div>
                      </section>
                 </div>
              </div>

              <!-- page end-->
{% endblock  %}
      <!--main content end-->